<% content_for :title do %>Bath Decibel Monitor<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="plug"  data-view="Meter" data-title="Plug SPL dB" data-min="0" data-max="130"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="tub" data-view="Meter" data-title="Tub SPL dB" data-min="0" data-max="130"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="plug-adverage"  data-view="Meter" data-title="Plug 5 minute Average SPL dB" data-min="0" data-max="130"></div>
    </li>
    </li>
      <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="plug-peak"  data-view="Meter" data-title="Plug 5 minute Peak SPL dB" data-min="0" data-max="130"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="tub-adverage" data-view="Meter" data-title="Tub 5 minute Average SPL dB" data-min="0" data-max="130"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="tub-peak" data-view="Meter" data-title="Tub 5 minute Peak SPL dB" data-min="0" data-max="130"></div>
    </li>

  </ul>

</div>
